.card {
  max-width: 300px;
  margin-bottom: 20px;
  height: 160px;
  border-radius: 8px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 200px -10px;
  &.work {
    background-color: $lightred-work;
    background-image: url("../images/icon-work.svg");
  }
  &.play {
    background-color: $softblue-play;
    background-image: url("../images/icon-play.svg");
  }
  &.study {
    background-color: $lightred-study;
    background-image: url("../images/icon-study.svg");
  }
  &.exercise {
    background-color: $limegreen-exercise;
    background-image: url("../images/icon-exercise.svg");
  }
  &.social {
    background-color: $violet-social;
    background-image: url("../images/icon-social.svg");
  }
  &.selfcare {
    background-color: $softorange-selfcare;
    background-image: url("../images/icon-self-care.svg");
  }

  .card-detail {
    border-radius: 10px;
    width: 300px;
    position: absolute;
    bottom: 0;
    background-color: $darkblue;
    height: 120px;
    padding: 30px 20px 10px 20px;

    div:first-child {
      display: flex;
      p {
        color: white;
      }
      img {
        align-self: center;
        margin-left: 200px;
      }
    }
    div:last-child {
      margin-top: 10px;
      display: flex;
      p:first-child {
        font-size: 2rem;
        color: white;
      }
      p:last-child {
        font-size: 0.8rem;
        align-self: center;
        margin-left: 50px;
      }
    }
  }
}
